*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    transition: all 0.6s ease;
}
.containor 
{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;


}

.form
{
    width: 50%;
    height: 100vh;
    background-color: #796BCB;
    display: flex;
    justify-content: center;
    align-items: center;


}
.results 
{
    width: 50%;
    height: 100vh;
    background-color: white;
    


}
.form_containor
{
    border: none;
    width: 492px;
    height: 512px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.25);
-webkit-box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.25);
    

}


form 
{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;


}
#formuser_name , #formuser_email , #formuser_website, #formuser_imagelink
{
    width: 415px;
    height: 45px;
    border-radius: 27.5px;
    margin: 10px;
    border: 1px solid #7567C3;

}

.forma

{
    
    
    
    background-color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_containor p
{
    z-index: 9999;
    margin-top:0px;
    padding-top: 40px;
    font-weight: 700;
    
    font-size: 45px;
    color: #796BCB;
    margin-left: 10px;
    

    
}
i{
    font-size: 15px;
}
::placeholder
{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-left: 30px;
    color: rgba(121, 107, 203, 73%);
}

.formuser_btn
{
    position: relative;
    margin-top: 12%;
    cursor: pointer;
    
    color: white;
    background-color: #554B8F;
    border: none;
    padding: 15px 210px 15px 220px ;
    font-size: 18px;
}
.gender
{
    height: 45px;
    width: 415px;
    border: 1px solid  #796BCB;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.gender_type

{
    display: flex;
    flex-direction: row;
}
.malegender, .femalegender

{
    cursor: pointer;
    color: #554B8F;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 56px;
    background-color: white;

}
.femalegender, .malegender
{
    border-left: 1px solid #796BCB ;
    border-bottom: 1px solid #796BCB;

}

.active 
{
    background-color: #796BCB;
    color: white;
}
.femaleactive 
{
    background-color: #D64C8F;
    color: white;
}
.gender p
{
    color: rgba(121, 107, 203, 73%);
    font-weight: 700;
    font-size: 15px;
    margin-top: -10px;
    padding-top: 20px;
    padding-left: 20px;
}


/* //to be added when female  */
.btnfemale 
{
    background-color: #D64C8F;
    
    
}


.allfemale 
{
    background-color: #E15197;

    

}

.femalefont
{
    color: #E15197;
    
    
}

.female 
{
    background-color: #E15197;
    color: white;
    border: 1px solid #E15197 ;
}
.formbutton
{
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.femaleplaceholder::placeholder {
    color: rgba(218, 78,146,73%);
 }
 input[type=text], select {
  
    padding-left: 20px;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
  
  
    
    
  }
  #formuser_name , #formuser_email, #formuser_imagelink, #formuser_website
  {
      outline: none;
      
  }


  /* desgning the result div in the html */
  .results
  {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow-y: scroll; 
      
    
      
      
  }
  .results::-webkit-scrollbar
  {
      display: none;
  }
  .result_content 

  {
      margin: 20px;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.25);
  }


  .result_content_upper
  {
      width: 514px;
      height: 134px;
      background-color: white;
      display: flex;
      flex-direction: row;
  }
  .result_content_image
  {
    height: 134px;
    width: 191px;

  }
  .result_content_image img, .result_content_information1
  {
      height: 134px;
      width: 191px;
      object-fit: cover;
  }
  .result_content_information, .result_content_information1
  {
      padding-left: 30px;
      padding-top: 10px;
      height: 134px;
      width: 191px ;
  }
  
  .result_content_information h3
  {
      color: #796BCB;
      font-size: 28px;
      font-family: Arial, Helvetica, sans-serif;
  }
  .result_content_information1 h3
  {
      color: #D64C8F;
      font-size: 28px;
      font-family: Arial, Helvetica, sans-serif;
  }
  .result_content_information p
  {
      padding-top: 2px;
      color: #726A9F;
      font-weight: 300;
      font-size: 10px;
  }
  .result_content_information1 p
  {
      padding-top: 2px;
      color: #d64c8f;
      font-weight: 300;
      font-size: 10px;
  }

  .result_button_website
  {
    cursor: pointer;
    
    background: rgb(113,104,161);
    background: linear-gradient(90deg, rgba(113,104,161,1) 0%, rgba(232,119,173,1) 100%);
      color: white;
      border: none;
      width: 515px;
      height: 45px;
  }
  .result_button_website1
  {
    cursor: pointer;
      background-color: #D64C8F;
      color: white;
      border: none;
      width: 515px;
      height: 45px;
  }
  .globalresultcolor 
  {
      color: #726A9F;
  }


  
  @media screen and (max-width : 1025px)
  
  {
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        
        transition: all 0.6s ease;
    }
    .containor 
    {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
    
    
    }
    
    .form
    {
        width: 50%;
        height: 100vh;
        background-color: #796BCB;
        display: flex;
        justify-content: center;
        align-items: center;
    
    
    }
    .results 
    {
        width: 50%;
        height: 100vh;
        background-color: white;
        
    
    
    }
    .form_containor
    {
        border: none;
        width: 432px;
        height: 512px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.25);
        
    
    }
    
    
    form 
    {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
    
    
    }
    #formuser_name , #formuser_email , #formuser_website, #formuser_imagelink
    {
        width: 390px;
        height: 45px;
        border-radius: 27.5px;
        margin: 10px;
        border: 1px solid #7567C3;
    
    }
    
    .forma
    
    {
        
        
        
        background-color: white;
        height: 370px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form_containor p
    {
        
        margin-top:0px;
        padding-top: 40px;
        font-weight: 700;
        
        font-size: 45px;
        color: #796BCB;
        margin-left: 10px;
        
    
        
    }
    i{
        font-size: 12px;
    }
    ::placeholder
    {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        padding-left: 30px;
        color: rgba(121, 107, 203, 73%);
    }
    
    .formuser_btn
    {
        position: relative;
        margin-top: 12%;
        cursor: pointer;
        
        color: white;
        background-color: #554B8F;
        border: none;
        padding: 15px 185px 15px 185px ;
        font-size: 18px;
    }
    .gender
    {
        height: 45px;
        width: 380px;
        border: 1px solid  #796BCB;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }
    .gender_type
    
    {
        display: flex;
        flex-direction: row;
    }
    .malegender, .femalegender
    
    {
        cursor: pointer;
        color: #554B8F;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        width: 56px;
        background-color: white;
    
    }
    .femalegender, .malegender
    {
        border-left: 1px solid #796BCB ;
        border-bottom: 1px solid #796BCB;
    
    }
    
    .active 
    {
        background-color: #796BCB;
        color: white;
    }
    .femaleactive 
    {
        background-color: #D64C8F;
        color: white;
    }
    .gender p
    {
        color: rgba(121, 107, 203, 73%);
        font-weight: 700;
        font-size: 15px;
        margin-top: -10px;
        padding-top: 20px;
        padding-left: 20px;
    }
    
    
    /* //to be added when female  */
    .btnfemale 
    {
        background-color: #D64C8F;
        
        
    }
    
    
    .allfemale 
    {
        background-color: #E15197;
    
        
    
    }
    
    .femalefont
    {
        color: #E15197;
        
        
    }
    
    .female 
    {
        background-color: #E15197;
        color: white;
        border: 1px solid #E15197 ;
    }
    .formbutton
    {
        height: 80px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .femaleplaceholder::placeholder {
        color: rgba(218, 78,146,73%);
     }
     input[type=text], select {
      
        padding-left: 20px;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 700;
      
      
        
        
      }
      #formuser_name , #formuser_email, #formuser_imagelink, #formuser_website
      {
          outline: none;
          
      }
    
    
      /* desgning the result div in the html */
      .results
      {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          overflow-y: scroll; 
          
        
          
          
      }
      .results::-webkit-scrollbar
      {
          display: none;
      }
      .result_content 
    
      {
        
        
          width: 455px;
          
          margin: 20px;
        box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.25);
        -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.25);
      }
    
    
      .result_content_upper
      {
          width: 494px;
          height: 134px;
          background-color: white;
          display: flex;
          flex-direction: row;
      }
      .result_content_image
      {
        height: 134px;
        width: 161px;
    
      }
      .result_content_image img, .result_content_information1
      {
          height: 134px;
          width: 161px;
          object-fit: cover;
      }
      .result_content_information, .result_content_information1
      {
          padding-left: 30px;
          padding-top: 10px;
          height: 134px;
          width: 161px ;
      }
      
      .result_content_information h3
      {
          color: #796BCB;
          font-size: 23px;
          font-family: Arial, Helvetica, sans-serif;
      }
      .result_content_information1 h3
      {
          color: #D64C8F;
          font-size: 23px;
          font-family: Arial, Helvetica, sans-serif;
      }
      .result_content_information p
      {
          padding-top: 2px;
          color: #726A9F;
          font-weight: 300;
          font-size: 9px;
      }
      .result_content_information1 p
      {
          padding-top: 2px;
          color: #d64c8f;
          font-weight: 300;
          font-size: 9px;
      }
    
      .result_button_website
      {
        cursor: pointer;
        
        background: rgb(113,104,161);
        background: linear-gradient(90deg, rgba(113,104,161,1) 0%, rgba(232,119,173,1) 100%);
          color: white;
          border: none;
          width: 455px;
          height: 45px;
      }
      .result_button_website1
      {
        cursor: pointer;
        
          background-color: #D64C8F;
          color: white;
          border: none;
          width: 455px;
          height: 45px;
      }
      .globalresultcolor 
      {
          color: #726A9F;
      }

       


  }





  @media screen and (max-width : 980px)

  {
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        
        transition: all 0.6s ease;
    }
    .containor 
    {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
    
    
    }
    
    .form
    {
        width: 50%;
        height: 100vh;
        background-color: #796BCB;
        display: flex;
        justify-content: center;
        align-items: center;
    
    
    }
    .results 
    {
        width: 50%;
        height: 100vh;
        background-color: white;
        
    
    
    }
    .form_containor
    {
        border: none;
        width: 392px;
        height: 512px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.25);
        
    
    }
    
    
    form 
    {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
    
    
    }
    #formuser_name , #formuser_email , #formuser_website, #formuser_imagelink
    {
        width: 350px;
        height: 40px;
        border-radius: 27.5px;
        margin: 10px;
        border: 1px solid #7567C3;
    
    }
    
    .forma
    
    {
        
        
        
        background-color: white;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form_containor p
    {
        
        margin-top:0px;
        padding-top: 35px;
        font-weight: 700;
        
        font-size: 45px;
        color: #796BCB;
        margin-left: 10px;
        
    
        
    }
    i{
        font-size: 12px;
    }
    ::placeholder
    {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        padding-left: 25px;
        color: rgba(121, 107, 203, 73%);
    }
    
    .formuser_btn
    {
        position: relative;
        margin-top: 12%;
        cursor: pointer;
        
        color: white;
        background-color: #554B8F;
        border: none;
        padding: 15px 165px 15px 165px ;
        font-size: 18px;
    }
    .gender
    {
        height: 40px;
        width: 350px;
        border: 1px solid  #796BCB;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }
    .gender_type
    
    {
        display: flex;
        flex-direction: row;
    }
    .malegender, .femalegender
    
    {
        cursor: pointer;
        color: #554B8F;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 56px;
        background-color: white;
    
    }
    .femalegender, .malegender
    {
        border-left: 1px solid #796BCB ;
        border-bottom: 1px solid #796BCB;
    
    }
    
    .active 
    {
        background-color: #796BCB;
        color: white;
    }
    .femaleactive 
    {
        background-color: #D64C8F;
        color: white;
    }
    .gender p
    {
        color: rgba(121, 107, 203, 73%);
        font-weight: 700;
        font-size: 15px;
        margin-top: -10px;
        padding-top: 17px;
        padding-left: 20px;
    }
    
    
    /* //to be added when female  */
    .btnfemale 
    {
        background-color: #D64C8F;
        
        
    }
    
    
    .allfemale 
    {
        background-color: #E15197;
    
        
    
    }
    
    .femalefont
    {
        color: #E15197;
        
        
    }
    
    .female 
    {
        background-color: #E15197;
        color: white;
        border: 1px solid #E15197 ;
    }
    .formbutton
    {
        height: 80px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .femaleplaceholder::placeholder {
        color: rgba(218, 78,146,73%);
     }
     input[type=text], select {
      
        padding-left: 20px;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 700;
      
      
        
        
      }
      #formuser_name , #formuser_email, #formuser_imagelink, #formuser_website
      {
          outline: none;
          
      }
    
    
      /* desgning the result div in the html */
      .results
      {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          overflow-y: scroll; 
          
        
          
          
      }
      .results::-webkit-scrollbar
      {
          display: none;
      }
      .result_content 
    
      {
        
        
          width: 435px;
          
          margin: 20px;
        box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.25);
        -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.25);
      }
    
    
      .result_content_upper
      {
          
          width: 425px;
          height: 134px;
          background-color: white;
          display: flex;
          flex-direction: row;
      }
      .result_content_image
      {
        height: 124px;
        width: 151px;
    
      }
      .result_content_image img, .result_content_information1
      {
          height: 124px;
          width: 151px;
          object-fit: cover;
      }
      .result_content_information, .result_content_information1
      {
          padding-left: 30px;
          padding-top: 10px;
          height: 134px;
          width: 151px ;
      }
      
      .result_content_information h3
      {
          color: #796BCB;
          font-size: 23px;
          font-family: Arial, Helvetica, sans-serif;
      }
      .result_content_information1 h3
      {
          color: #D64C8F;
          font-size: 23px;
          font-family: Arial, Helvetica, sans-serif;
      }
      .result_content_information p
      {
          padding-top: 2px;
          color: #726A9F;
          font-weight: 300;
          font-size: 8px;
      }
      .result_content_information1 p
      {
          padding-top: 2px;
          color: #d64c8f;
          font-weight: 300;
          font-size: 8px;
      }
    
      .result_button_website
      {
        cursor: pointer;
        
        background: rgb(113,104,161);
        background: linear-gradient(90deg, rgba(113,104,161,1) 0%, rgba(232,119,173,1) 100%);
          color: white;
          border: none;
          width: 435px;
          height: 45px;
          margin-top: -26px;
      }
      .result_button_website1
      {
        cursor: pointer;
        
          background-color: #D64C8F;
          color: white;
          border: none;
          width: 455px;
          height: 45px;
      }
      .globalresultcolor 
      {
          color: #726A9F;
      }

       
    
      

  }



  @media screen and (max-width : 900px)

  {
    *
    {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        box-shadow: none;
    }
    .femaleactive 
    {
        background-color: #D64C8F;
        color: white;
    }
    .btnfemale 
    {
        background-color: #D64C8F;
        
        
    }
    
    
    .allfemale 
    {
        background-color: #E15197;
    
        
    
    }
    
    .femalefont
    {
        color: #E15197;
        
        
    }
    
    .female 
    {
        background-color: #E15197;
        color: white;
        border: 1px solid #E15197 ;
    }
    input[type=text], select {
      
        padding-left: 20px;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 700;
      
      
        
        
      }
    .result_content_information1 h3
      {
          color: #D64C8F;
          font-size: 23px;
          font-family: Arial, Helvetica, sans-serif;
      }
    .result_content_information1 p
      {
          padding-top: 2px;
          color: #d64c8f;
          font-weight: 300;
          font-size: 8px;
      }
    
    .globalresultcolor 
      {
          color: #726A9F;
      }
      .result_button_website1
      {
        cursor: pointer;
        
          background-color: #D64C8F;
          color: white;
          border: none;
          width: 455px;
          height: 45px;
      }
      


    .containor
    {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;


    }
    .form
    {
        width: 100%;
        height: 100vh;
        background-color: white;
    }
    .form_containor
    {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: none;
        
        
    }
    .form_containor p
    {
        margin: 0;
        font-size: 35px;
        padding-left:25px ;
        padding-bottom: 20px;
        
    }
    .forma
    {
        
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 80px;
       height: 300px;
       padding-bottom: 10px;
    }
    .gender
    {
       display: flex;
       align-items: center; 
       margin-bottom: 10px;
    }
    .gender p
    {

       font-size: 15px;
    }
    ::placeholder
    {
        font-size: 15px;
    }
    .formbutton
    {
        margin-top: -30px;
    }
    .formuser_btn
    {
        font-size: 15px;
        
    }
    .formuser_btn:hover
    {
        transform: scale(1.1);
       
    }
    .results
    {
        background-color: #7567C3;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        
    }

    .result_content
    {
        
        height: 345px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 319px;
        box-shadow: none;
    }
    i
    {
        font-size: 15px;
    }
    .result_content_upper
    {
        display: flex;
        height: 349px;
        width: 329px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .result_content_image
    {
        margin-top: -38px;
       
        height: 172px;
        width: 100%;
        
    }
    .result_content_image img
    {
        height:172px ;
        width: 100%;
        object-fit: cover;
    }

    .result_content_information 
    {
        
        width: 309px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

    }
    .result_button_website
    {
        width: 329px;

    }

    

    


     }

     @media screen and (max-width : 552px) {
        *
        {
            margin: 0;
            padding: 0;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            box-shadow: none;
        }

        .containor
        {
            height: 100%;
            width: 525px;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;


        }
        .form
        {
            width: 100%;
            height: 100vh;
            background-color: white;
        }
        .form_containor
        {
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: none;
            
            
        }
        .form_containor p
        {
            margin: 0;
            font-size: 35px;
            padding-left:25px ;
            padding-bottom: 20px;
            
        }
        .forma
        {
            
           display: flex;
           justify-content: center;
           align-items: center;
           margin-top: 80px;
           height: 300px;
           padding-bottom: 10px;
        }
        .gender
        {
           display: flex;
           align-items: center; 
           margin-bottom: 10px;
        }
        .gender p
        {

           font-size: 15px;
        }
        ::placeholder
        {
            font-size: 15px;
        }
        .formbutton
        {
            margin-top: -30px;
        }
        .formuser_btn
        {
            font-size: 15px;
            
        }
        .formuser_btn:hover
        {
            transform: scale(1.1);
           
        }
        .results
        {
            background-color: #7567C3;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-items: center;
            
        }

        .result_content
        {
            
            height: 345px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 319px;
            box-shadow: none;
        }
        i
        {
            font-size: 15px;
        }
        .result_content_upper
        {
            display: flex;
            height: 349px;
            width: 329px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .result_content_image
        {
            margin-top: -38px;
           
            height: 172px;
            width: 100%;
            
        }
        .result_content_image img
        {
            height:172px ;
            width: 100%;
            object-fit: cover;
        }

        .result_content_information 
        {
            
            width: 309px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;

        }
        .result_button_website
        {
            width: 329px;

        }

        




    }

     @media screen and (max-width : 362px) {
        *
        {
            margin: 0;
            padding: 0;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            box-shadow: none;
            
        }

        .containor
        {
            height: 100%;
            width: 362px;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;


        }
        .form
        {
            width: 100%;
            height: 100vh;
            background-color: white;
        }
        .form_containor
        {
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: none;
            
            
        }
        .form_containor p
        {
            margin: 0;
            font-size: 25px;
            padding-left:25px ;
            padding-bottom: 20px;
            
        }
        .forma
        {
            
           display: flex;
           justify-content: center;
           align-items: center;
           margin-top: 80px;
           height: 300px;
           width: 362px;
           padding-bottom: 10px;
        }
        .gender
        {
           display: flex;
           align-items: center; 
           margin-bottom: 10px;
        }
        .gender p
        {

           font-size: 13px;
        }
        ::placeholder
        {
            font-size: 13px;
        }
        .formbutton
        {
            margin-top: -30px;
        }
        .formuser_btn
        {
            font-size: 15px;
            
        }
        .formuser_btn:hover
        {
            transform: scale(1.1);
           
        }
        .results
        {
            background-color: #7567C3;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-items: center;
            
        }

        .result_content
        {
            
            height: 345px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 290px;
            box-shadow: none;
        }
        i
        {
            font-size: 15px;
        }
        .result_content_upper
        {
            display: flex;
            height: 349px;
            width: 329px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .result_content_image
        {
            margin-top: -38px;
           
            height: 172px;
            width: 100%;
            
        }
        .result_content_image img
        {
            height:172px ;
            width: 100%;
            object-fit: cover;
        }

        .result_content_information 
        {
            
            width: 309px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;

        }
        .result_button_website
        {
            width: 329px;

        }

        




    }

     @media screen and (max-width : 482px) {
        *
        {
            margin: 0;
            padding: 0;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            box-shadow: none;
        }

        .containor
        {
            height: 100%;
            width: 482px;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;


        }
        .form
        {
            width: 100%;
            height: 100vh;
            background-color: white;
        }
        .form_containor
        {
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: none;
            
            
        }
        .form_containor p
        {
            margin: 0;
            font-size: 35px;
            padding-left:25px ;
            padding-bottom: 20px;
            
        }
        .forma
        {
            
           display: flex;
           justify-content: center;
           align-items: center;
           margin-top: 80px;
           height: 300px;
           padding-bottom: 10px;
        }
        .gender
        {
           display: flex;
           align-items: center; 
           margin-bottom: 10px;
        }
        .gender p
        {

           font-size: 15px;
        }
        ::placeholder
        {
            font-size: 15px;
        }
        .formbutton
        {
            margin-top: -30px;
        }
        .formuser_btn
        {
            font-size: 15px;
            
        }
        .formuser_btn:hover
        {
            transform: scale(1.1);
           
        }
        .results
        {
            background-color: #7567C3;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-items: center;
            
        }

        .result_content
        {
            
            height: 345px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 319px;
            box-shadow: none;
        }
        i
        {
            font-size: 15px;
        }
        .result_content_upper
        {
            display: flex;
            height: 349px;
            width: 329px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .result_content_image
        {
            margin-top: -38px;
           
            height: 172px;
            width: 100%;
            
        }
        .result_content_image img
        {
            height:172px ;
            width: 100%;
            object-fit: cover;
        }

        .result_content_information 
        {
            
            width: 309px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;

        }
        .result_button_website
        {
            width: 329px;

        }

        




    }

